<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">

    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <!-- JavaScript -->
    <script src="../js/main.js" type="module"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
</head>


<header id="main-header"> </header>



<body>

    <div class="main-categories">

        <a href="category-tasks.html?category=intellectual">
            <div class="intellectual">
                <img class="image-box" src="../images/intellectual-logo.png" alt="intellectual">
                <h2>Intellectual</h2>
            </div>
        </a>

        <a href="category-tasks.html?category=social">
            <div class="social">
                <img class="image-box" src="../images/social-logo.png" alt="social">
                <h2>Social</h2>
            </div>
        </a>

        <a href="category-tasks.html?category=spiritual">
            <div class="spiritual">
                <img class="image-box" src="../images/spiritual-logo.png" alt="spiritual">
                <h2>Spiritual</h2>
            </div>
        </a>

        <a href="category-tasks.html?category=physical">
            <div class="physical">
                <img class="image-box" src="../images/physical-logo.png" alt="physical">
                <h2>Physical</h2>
            </div>
        </a>

    </div>

    <footer id="main-footer">

    </footer>
    <script src="/js/dataservice.js" type="module"></script>
    <script type='module' src="/js/check-login.js"></script>

</body>

</html>