<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">

    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- JavaScript -->
    <script src="../js/main.js"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">\
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
</head>


<header>
    <div class="header">
        <a href="#" class="logo-tag" style="font-family: 'Bebas Neue', sans-serif; font-size: 45px;">I-BALANCE</a>
        <img class="logo" src="../images/logo.png">
        <div class="header-right">
            <a class="" href="../index.html">Today</a>
            <a class="active" href="#contact">Categories</a>
            <a href="#about">Progress</a>
            <a class="login" href="../index.html">Login</a>
        </div>
    </div>
</header>



<body>

    <div class="main-categories">

        <h1 class="title-categories">Categories</h1>

        <div class="spiritual">
            <img class="image-box" src="/images/spiritual.png" alt="">
            <h2>Spiritual</h2>
        </div>

        <div class="intelectual">
            <img class="image-box" src="../images/intelectual-logo.png" alt="">
            <h2>Intelectual</h2>
        </div>

        <div class="social">
            <img class="image-box" src="../images/social-logo.png" alt="">
            <h2>Social</h2>
        </div>

        <div class="physical">
            <img class="image-box" src="../images/physical-logo.png" alt="">
            <h2>Physical</h2>

        </div>

    </div>

</body>

<footer>
    <p>Author: Hege Refsnes<br>
        <a href="mailto:hege@example.com">hege@example.com</a></p>
</footer>

</html>