<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">

    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- JavaScript -->
    <script src="js/main.js" type="module"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">

</head>

<header id="main-header"></header>

<body>
    <div class="hero-today">
        <img class="icon-img" src="images/calendar.png" alt="icon">
        <h1 id="currentDate">Thursday, November 11, 2021</h1>
    </div>
    <footer id="main-footer"></footer>
</body>
<script src="js/main.js"></script>

</html>="../add-task.html?category=physical">
<div class="physical">
    <img class="image-box" src="../images/physical-logo.png" alt="">
    <h2>Physical</h2>