<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">

    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <!-- JavaScript -->
    <script src="../js/main.js" type="module"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
</head>


<header id="main-header">

</header>

<body>

    <div id="hero-today" value="category=spiritual">
        <div class="category-header">
            <img id="category-logo" src="" alt="icon" name="category-logo">
            <h1 id="categoryTitle" name="categoryTitle"> Title</h1>
        </div>
        <img id="category-image" src="" alt="icon" name="category-image">
    </div>
    <div id="task-cont">
        <ul>

            <div class="main">
                <div class="main__container">
                    <div class="main__img--container">
                        <img src="/images/login.JPG" alt="hero" id="main__img">
                    </div>
                    <div class="main__content">
                        <h2>Create an Account</h2>
                        <p>You can create an account to save your tasks and progress.</p>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="main__container">
                    <div class="main__content">
                        <h2>Four categories to add tasks</h2>
                        <p>I-Balance is divided in four categories: spiritual, social, intellectual, and physical. These four areas of wellness will help you to have a balance in your life.</p>
                    </div>
                    <div class="main__img--container">
                        <img src="/images/categories.JPG" alt="hero" id="main__img">
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="main__container">
                    <div class="main__img--container">
                        <img src="/images/dailytask.JPG" alt="hero" id="main__img">
                    </div>
                    <div class="main__content">
                        <h2>All Information Under One Roof</h2>
                        <p>Find all your tasks in the daily view! Add new tasks and mark as complete tasks for eachday.</p>
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="main__container">
                    <div class="main__content">
                        <h2>Add specific tasks in each category</h2>
                        <p>You can visualize your tasks per day or per category. You can also add new tasks in each category.</p>
                    </div>
                    <div class="main__img--container">
                        <img src="/images/task1.JPG" alt="hero" id="main__img">
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="main__container">
                    <div class="main__img--container">
                        <img src="/images/dailytask.JPG" alt="hero" id="main__img">
                    </div>
                    <div class="main__content">
                        <h2>Share your progress with your friends</h2>
                        <p>USe our chat to share your progress with your friends.</p>
                    </div>
                </div>
            </div>

</html>iv>


<footer id="main-footer">
</footer>

</body>

</html>