<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">
    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <!-- JavaScript -->
    <script src="../js/main.js" type="module"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
</head>

<header id="main-header">

</header>


<div id="task-cont">
    <ul>

        <li id="myBtn" id="content"> + Add Task</li>
    </ul>
    <ul id="task-list">

    </ul>
</div>
<footer id="main-footer">
</footer>




<script src="/js/dataservice.js"></script>
<script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>

<!-- <script type="module">
    import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
</script> -->

<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script>
    const socket = io();
</script> -->

<script type='module' src="/js/direct-message-modal.js"></script>
</body>

</html>