<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">

    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <!-- JavaScript -->
    <script src="../js/main.js" type="module"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
</head>


<header id="main-header">

</header>

<body>

    <div id="hero-daily" value="category=daily">
        <div class="date-info">
            <h1 id="month" name="month"> Month</h1>
            <h1 id="weekday" name="weekday"> Weekday </h1>
            <h1 id="day" name="day"> 1 </h1>
        </div>
        <img id="category-image" src="../images/daily-task.png" alt="icon" name="category-image">
    </div>


    <footer id="main-footer">
    </footer>

    <script src="../js/date.js"></script>

</body>

</html>