<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">

    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <!-- JavaScript -->
    <script src="../js/main.js" type="module"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>


<header id="main-header">

</header>

<body>

    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>Achieve your greatest</h1>
                <h1>potential by creating </h1>
                <h1>balance in your life</h1>
                <button class="main__btn"><a href="/view/login.html">Get Started</a></button>
            </div>
            <div class="main__img--container">
                <img src="../images/hero-image.png" alt="hero" id="main__img">
            </div>
        </div>
    </div>

    <div class="description">
        <div class="main__container">
            <div class="main__img--container">
                <img src="/images/login.JPG" alt="hero" id="main__img">
            </div>
            <div class="main__content">
                <h2>Create an Account</h2>
                <p>Create an account to add tasks and balance your life!</p>
            </div>
        </div>
    </div>

    <div class="description">
        <div class="main__container">
            <div class="main__content">
                <h2>Four categories to add tasks</h2>
                <p>I-Balance is divided in four categories. Each category will help you to balance your life.</p>
            </div>
            <div class="main__img--container">
                <img src="/images/categories.JPG" alt="hero" id="main__img">
            </div>
        </div>
    </div>

    <div class="description">
        <div class="main__container">
            <div class="main__img--container">
                <img src="/images/dailytask.JPG" alt="hero" id="main__img">
            </div>
            <div class="main__content">
                <h2>All Information Under One Roof</h2>
                <p>Find all your tasks in the daily view! Add new tasks and mark as complete diferentet task every day.</p>
            </div>
        </div>
    </div>

    <div class="description">
        <div class="main__container">
            <div class="main__content">
                <h2>Add specific tasks in each category</h2>
                <p>Add task for each category.</p>
            </div>
            <div class="main__img--container">
                <img src="/images/task1.JPG" alt="hero" id="main__img">
            </div>
        </div>
    </div>

    <div class="description">
        <div class="main__container">
            <div class="main__img--container">
                <img src="/images/dailytask.JPG" alt="hero" id="main__img">
            </div>
            <div class="main__content">
                <h2>Share your progress with your friends</h2>
                <p>USe our chat to share your progress with your friends.</p>
            </div>
        </div>
    </div>


    <footer id="main-footer">
    </footer>

</body>

</html>