<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">
    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- JavaScript -->
    <script src="../js/main.js" type="module"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
</head>


<header id="main-header">
</header>

<body>

    <div class="hero-section">
        <div class="hero-info">
            <h1 class="title-hero">Achieve your greatest potential by creating balance in your life.</h1>
            <button type="button-hero">Start Today</button>
        </div>
        <img class="hero-image" src="/images/hero-image.png" alt="balance">
    </div>

    <!-- <div class="cards-section">
        <div class="cards-container">
            <div class="card card1" style="width:50%">
                    <div class="w3-container w3-center">
                        <h3>SPIRITUAL</h3>
                        <img src="/images/" alt="Avatar" style="width:80%">
                        <h5>John Doe</h5>

                        <div class="w3-section">
                            <button class="w3-button w3-green">Accept</button>
                            <button class="w3-button w3-red">Decline</button>
                        </div>
                    </div>

                </div> -->


    <!-- </div>

        </div>
    </div> -->



    <footer id="main-footer">
    </footer>
</body>

</html>