<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">

    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- JavaScript -->
    <script src="../js/main.js"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">\
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
</head>


<header>
    <div class="header">
        <a href="#" class="logo-tag" style="font-family: 'Bebas Neue', sans-serif; font-size: 45px;">I-BALANCE</a>
        <img class="logo" src="images/logo.png">
        <div class="header-right">
            <a class="" href="#">Today</a>
            <a href="/view/categories.html">Categories</a>
            <a href="#about">Progress</a>
            <a class="login active" href="#about">Login</a>
        </div>
    </div>
</header>



<body>

    <div class="main">
    <div class="container">
      <div class="form">
        <div class="thumbnail"><img src="/images/login.png"/></div>
        <form class="register-form" action="">
          <input type="text" placeholder="name" id="name"/>
          <input type="password" placeholder="password" id="password"/>
          <input type="text" placeholder="email address" id="email"/>
          <button>create</button>
          <p class="message">Already registered?<a href="#">Sign In</a></p>
        </form>
        <form class="login-form" action="">
          <input type="text" placeholder="email address" id="email"/>
          <input type="password" placeholder="password" id="password"/>
          <button>login</button>
          <p class="message">Not registered?<a href="#">Create an account</a></p>
        </form>
      </div>
    </div>


</body>

<footer>
    <p>Author: Hege Refsnes<br>
        <a href="mailto:hege@example.com">hege@example.com</a></p>
</footer>

<script src="/js/dataservice.js"></script>
<script src="/js/login.js"></script>

</html>