<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">

    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- JavaScript -->
    <script src="../js/main.js" type="module"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
</head>


<header id="main-header">
    <div class="header">
        <a href="index.html" class="logo-tag" style="font-family: 'Bebas Neue', sans-serif; font-size: 45px;">I-BALANCE</a>
        <img class="logo" src="../images/logo.png">
        <div class="header-right">
            <a href="../index.html">Home</a>
            <a class="active" href="../view/dailytask.html">Today</a>
            <a href="categories.html">Categories</a>
            <a href="progress.html">Progress</a>
            <a href="login.html">Login</a>
        </div>
    </div>
</header>

<body>

    <div class="main">
        <div class="container">
            <div class ="hidden-error"></div>
            <div class="form">
                <div class="thumbnail"><img src="/images/login.png" /></div>
                <form class="register-form hidden-error">
                    <input type="text" placeholder="name" id="name"/>
                    <input type="password" placeholder="password" id="password"/>
                    <input type="password" placeholder="password" id="verifyPassword"/>
                    <input type="text" placeholder="email address" id="email"/>
                    <button>create</button>
                    <p class="message js-signin">Already registered?<a href="#">Sign In</a></p>
                </form>
                <form class="login-form">
                    <input type="text" placeholder="email address" id="emaillogin"/>
                    <input type="password" placeholder="password" id="passwordlogin"/>
                    <button>login</button>
                    <p class="message js-register">Not registered?<a href="#">Create an account</a></p>
                </form>
            </div>
        </div>


        <footer id="main-footer">
            <p>&copy;I-Balance | Attributions | Team <span id="currentDate"></span></p>
        </footer>
</body>


<script src="/js/dataservice.js"></script>
<script src="/js/login.js"></script>

</html>