<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="" content="width=device-width, initial-scale=1.0">

    <title>I-Balance</title>
    <meta name="description" content="App to help manage your time ">
    <!-- style -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile.css">
    <!-- JavaScript -->
    <script src="../js/main.js" type="module"></script>
    <!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
</head>


<header id="main-header">
</header>



<body>

    <div class="main">
        <div class="container">
            <div class="hidden-error"></div>
            <div class="form">
                <div class="thumbnail"><img src="/images/login.png" /></div>
                <form class="register-form hidden-error">
                    <input type="text" placeholder="name" id="name" />
                    <input type="password" placeholder="password" id="password" />
                    <input type="password" placeholder="confirm password" id="verifyPassword" />
                    <input type="text" placeholder="email address" id="email" />
                    <button>create</button>
                    <p class="message js-login">Already registered?<a href="#">Sign In</a></p>
                </form>
                <form class="login-form">
                    <input type="text" placeholder="email address" id="emaillogin" />
                    <input type="password" placeholder="password" id="passwordlogin" />
                    <button>login</button>
                    <p class="message js-register">Not registered? <a href="#">Create an account</a></p>
                    <p class="message js-forgot">Forgot Password? <a href="#">Reset Password</a></p>
                </form>
                <form class="resetMsg-form hidden-error">
                    <input type="text" placeholder="email address" id="emailReset" />
                    <button>Reset Password</button>
                    <p class="message js-token">Have token? <a href="#">Reset Password</a></p>
                    <p class="message js-login"><a href="#">Return to login</a></p>
                </form>
                <form class="resetToken-form hidden-error">
                    <input type="text" placeholder="Token" id="token" />
                    <input type="text" placeholder="email address" id="resetEmail" />
                    <input type="password" placeholder="password" id="ResetPassword" />
                    <input type="password" placeholder="password" id="verifyResetPassword" />
                    <button>Submit</button>
                    <p class="message js-login"><a href="#">Return to login</a></p>
                </form>
            </div>
        </div>


        <footer id="main-footer"> </footer>

        <script type='module' src="/js/login.js"></script>

</body>

</html>